body {
  background-color: #000;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-div {
  margin-bottom: 5px;
}

.content {
  background-color: #34383f;
  max-width: 1220px;
  margin: 0 auto;
}

#footer {
  border-top: solid 4px #000;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#footer a {
  text-decoration: wavy;
  text-shadow: 1px 0px #000;
  color: blanchedalmond;
}

#footerDisclaimer {
  text-decoration: none;
  text-align: center;
  width: 100%;
  line-height: 0.8rem;
  margin-left: 5px;
}

#footerMe {
  display: flex;
  -ms-flex-align: right;
  justify-content: right;
  text-align: right;
  margin-bottom: 0;
  width: 100%;
}
