.MangaElements-root {
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;  
}

.MangaList-header {
    margin: auto;
    margin-left: 5px;
    letter-spacing: 0.1rem;
    color: #fff;
    text-transform: uppercase;
}

.MangaEl {
    height: fit-content;
    margin-bottom: 10px;
    width: 100%;
    border-bottom: solid #2b2b2c;
    margin: 10px;
}

.MangaList-pages {
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
    font-size: large;
    color: #fff;
}

.MangaList-navBar {
    height: 50px;
}

.forward, .back {
    color: #fff;
    height: 50%;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    transition: scale 0.2s;
}

.forward:hover, .back:hover {
    scale: 1.1;
}

.forward:active, .back:active {
    scale: 0.8;
}

@media only screen and (max-width: 670px) {
    .MangaEl {
        height: auto;
        width: 100%;
        float: none;
    }
}